<?xml version="1.0" encoding="UTF-8"?>
<root>
    <system
        rootPath       = '../application/$namespace/'
        includePath    = '../application/$namespace/controllers'>
        <render
            path = '../core/render/MustacheRender.php'
            name = 'Core\Render\MustacheRender'/>
    </system>
    <defaults
        namespace   = 'Index'
        controller  = 'Index'
        action      = 'index' />  
    <environment>      
      <development>
      </development>
    </environment>
</root>
